In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
file=r'C:\Users\akhil\Downloads\P1 Data\Consumer_Complaints_train.csv'

In [3]:
ex=pd.read_csv(file)

In [41]:
#FIRST WE NEED TO CONVERT THE DATE COLUMN INTO PD.TO_DATETIME THEN EXTRACT THE WEEKDAYS,MONTH AND YEAR

In [4]:
ex['Date received']=pd.to_datetime(ex['Date received'])

In [5]:
ex['Month']=ex['Date received'].dt.month
ex['Year']=ex['Date received'].dt.year
ex['Week_day']=ex['Date received'].dt.weekday_name
ex.drop(['Date received'],axis=1,inplace=True)

In [6]:
ex.head()

,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,Month,Year,Week_day
0,Credit card,NaN,Billing statement,NaN,NaN,NaN,Wells Fargo & Company,MI,48342,Older American,NaN,Web,2014-05-16,Closed with explanation,Yes,No,856103,5,2014,Thursday
1,Bank account or service,(CD) Certificate of deposit,"Making/receiving payments, sending money",NaN,NaN,NaN,Santander Bank US,PA,18042,NaN,NaN,Referral,2014-09-24,Closed,Yes,No,1034666,9,2014,Thursday
2,Credit reporting,NaN,Incorrect information on credit report,Account status,NaN,NaN,Equifax,CA,92427,NaN,NaN,Referral,2014-04-03,Closed with non-monetary relief,Yes,No,756363,3,2014,Thursday
3,Credit card,NaN,Billing statement,NaN,"My credit card statement from US Bank, XXXX. X...",Company chooses not to provide a public response,U.S. Bancorp,GA,305XX,Older American,Consent provided,Web,2015-07-17,Closed with monetary relief,Yes,No,1474177,7,2015,Friday
4,Credit card,NaN,Transaction issue,NaN,NaN,NaN,Bank of America,MA,02127,NaN,NaN,Web,2014-11-28,Closed with explanation,Yes,No,1132572,11,2014,Thursday

In [46]:
#WE ARE MODIFYING OUR TARGET VARIABLE COUNSUMER DISPUTED TO TARGET

In [7]:
ex['target']=np.where(ex['Consumer disputed?']=='No',0,1)

In [8]:
ex['target'].value_counts()

0    376990
1    101431
Name: target, dtype: int64

In [9]:
ex.drop(['Consumer disputed?'],axis=1,inplace=True)

In [51]:
#NOW WE NEED TO DEAL WITH OBJECT TYPE AND CONVERT THEM TO INT

In [10]:
cat_cols=ex.select_dtypes(['object']).columns

In [91]:
x=cat.tolist()

In [126]:
cat_cols

Index(['Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Week_day'],
      dtype='object')

In [ ]:
for col in 'Product':
    freqs=ex[col].value_counts()
    selected_cats=freqs.index[freqs>100][:-1]
    
    print(col)
    for catt in selected_cats:
        name=col+'_'+catt
        
        ex[name]=(ex[col]==cat).astype(int)
    del ex[col]

In [109]:
cat_cols

Index(['Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Week_day'],
      dtype='object')

In [127]:
for cat in selected_cats:
    name='Product'+'_'+cat
    ex[name]=(ex['Product']==cat).astype(int)

In [16]:
ex.head()

,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,...,Sub-product_Mortgage,Sub-product_(CD) Certificate of deposit,Sub-product_Auto,Sub-product_International money transfer,Sub-product_Domestic (US) money transfer,Sub-product_Federal student loan,Sub-product_Vehicle lease,Sub-product_Federal student loan servicing,Sub-product_Reverse mortgage,Sub-product_Personal line of credit
0,Billing statement,NaN,NaN,NaN,Wells Fargo & Company,MI,48342,Older American,NaN,Web,...,0,0,0,0,0,0,0,0,0,0
1,"Making/receiving payments, sending money",NaN,NaN,NaN,Santander Bank US,PA,18042,NaN,NaN,Referral,...,0,1,0,0,0,0,0,0,0,0
2,Incorrect information on credit report,Account status,NaN,NaN,Equifax,CA,92427,NaN,NaN,Referral,...,0,0,0,0,0,0,0,0,0,0
3,Billing statement,NaN,"My credit card statement from US Bank, XXXX. X...",Company chooses not to provide a public response,U.S. Bancorp,GA,305XX,Older American,Consent provided,Web,...,0,0,0,0,0,0,0,0,0,0
4,Transaction issue,NaN,NaN,NaN,Bank of America,MA,02127,NaN,NaN,Web,...,0,0,0,0,0,0,0,0,0,0

In [14]:
col='Sub-product'

In [15]:
freqs=ex[col].value_counts()
selected_cats=freqs.index[freqs>1000][:-1]
for cat in selected_cats:
    name=col+'_'+cat
    ex[name]=(ex[col]==cat).astype(int)
del ex[col]

In [93]:
ex.dtypes

Consumer complaint narrative                                    object
Month                                                            int64
Year                                                             int64
target                                                           int32
Product_Mortgage                                                 int32
Product_Debt collection                                          int32
Product_Credit reporting                                         int32
Product_Credit card                                              int32
Product_Bank account or service                                  int32
Product_Consumer Loan                                            int32
Product_Student loan                                             int32
Product_Money transfers                                          int32
Product_Payday loan                                              int32
Sub-product_Other mortgage                                       int32
Sub-product_Conventional fixed mortgage                          int32
Sub-product_Checking account                                     int32
Sub-product_Other (i.e. phone, health club, etc.)                int32
Sub-product_I do not know                                        int32
Sub-product_Credit card                                          int32
Sub-product_Conventional adjustable mortgage (ARM)               int32
Sub-product_FHA mortgage                                         int32
Sub-product_Non-federal student loan                             int32
Sub-product_Medical                                              int32
Sub-product_Vehicle loan                                         int32
Sub-product_Other bank product/service                           int32
Sub-product_Payday loan                                          int32
Sub-product_Home equity loan or line of credit                   int32
Sub-product_Installment loan                                     int32
Sub-product_Savings account                                      int32
Sub-product_VA mortgage                                          int32
                                                                 ...
Company_Ditech Financial LLC                                     int32
Company_Navient Solutions, Inc.                                  int32
Company_PNC Bank N.A.                                            int32
Company_Encore Capital Group                                     int32
Company_Amex                                                     int32
Week_day_Wednesday                                               int32
Week_day_Tuesday                                                 int32
Week_day_Thursday                                                int32
Week_day_Friday                                                  int32
Week_day_Monday                                                  int32
Week_day_Saturday                                                int32
Tags_Older American                                              int32
Consumer consent provided?_Consent provided                      int32
Submitted via_Web                                                int32
Submitted via_Referral                                           int32
Submitted via_Phone                                              int32
Submitted via_Postal mail                                        int32
Company response to consumer_Closed with explanation             int32
Company response to consumer_Closed with non-monetary relief     int32
Company response to consumer_Closed with monetary relief         int32
Company response to consumer_Closed without relief               int32
Timely                                                           int32
Company public response_b                                        int32
Company public response_c                                        int32
Company public response_d                                        int32
Company public response_e                                        int32
Company public response_f                                        int32
Company public response_g                                        int32
Company public response_h                                        int32
Company public response_i                                        int32
Length: 150, dtype: object

In [82]:
ex['Timely response?'].value_counts()

Yes    470277
No       8144
Name: Timely response?, dtype: int64

In [64]:
x[x>1000]

Wednesday    92755
Tuesday      91589
Thursday     88795
Friday       79346
Monday       78430
Saturday     27574
Sunday       19932
Name: Week_day, dtype: int64

In [80]:
col='Company response to consumer'
freqs=ex[col].value_counts()
selected_cats=freqs.index[freqs>6000][:-1]
for cat in selected_cats:
    name=col+'_'+cat
    ex[name]=(ex[col]==cat).astype(int)
del ex[col]

In [84]:
ex.drop(['Timely response?'],axis=1,inplace=True)

In [83]:
ex['Timely']=(ex['Timely response?']=='Yes').astype(int)

In [86]:
ex['Company public response'].value_counts()

Company chooses not to provide a public response                                                                           41915
Company has responded to the consumer and the CFPB and chooses not to provide a public response                            25672
Company believes it acted appropriately as authorized by contract or law                                                   16040
Company believes complaint caused principally by actions of third party outside the control or direction of the company     1460
Company believes the complaint is the result of a misunderstanding                                                          1418
Company disputes the facts presented in the complaint                                                                       1395
Company believes complaint is the result of an isolated error                                                               1062
Company can't verify or dispute the facts in the complaint                                                                   927
Company believes complaint represents an opportunity for improvement to better serve consumers                               480
Company believes complaint relates to a discontinued policy or procedure                                                      23
Name: Company public response, dtype: int64

In [188]:
px=ex.copy()

In [200]:
px['Consumer complaint narrative']=px['Consumer complaint narrative'].astype(str)

In [92]:
y=0
c=["a","b","c","d","e","f","g","h","i","j","k"]
col='Company public response'
freqs=ex[col].value_counts()
selected_cats=freqs.index[freqs>100][:-1]
for cat in selected_cats:
    y=y+1
    name=col+'_'+c[y]
    ex[name]=(ex[col]==cat).astype(int)
del ex[col]

In [189]:
px['Consumer complaint narrative'][0]

nan

In [193]:
px.drop(t,axis=1,inplace=True)

In [190]:
v=np.array(px.columns)

In [191]:
t=v.tolist()

In [192]:
t.remove('Consumer complaint narrative')

In [187]:
px['Consumer complaint narrative']=[i.replace("nan","") for i in tx['Consumer complaint narrative']]

In [110]:
for i in range(len(tx)):
    if tx['Consumer complaint narrative'][i]=='NaN':
        ex.loc[i,'Consumer complaint narrative']=""

In [122]:
tx['Consumer complaint narrative']

0
1
2
3         My credit card statement from US Bank, XXXX. X...
4
5
6
7         I have a mortgage with Quicken Loans. From XXX...
8
9         I put my settlement check in to bank of americ...
10
11        All XXXX credit bureaus list XXXX state tax li...
12
13
14        I received a letter from Ocwen 's Office of th...
15
16
17
18
19
20
21
22
23        Experian has again sent misleading and false r...
24        I tried to dispute their errors of their inves...
25
26
27
28
29
                                ...
478391
478392
478393
478394
478395
478396
478397
478398
478399
478400
478401    In XXXX XXXX, XXXX of Summit Ficial Corporatio...
478402
478403
478404
478405
478406
478407
478408
478409    Transunion has ignored my request to provide m...
478410
478411
478412    Hello, I opened a Citi Gold Checking account X...
478413
478414
478415
478416
478417
478418
478419
478420
Name: Consumer complaint narrative, Length: 478421, dtype: object

In [128]:
tx.head()

                        Consumer complaint narrative
0
1
2
3  My credit card statement from US Bank, XXXX. X...
4

In [129]:
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
lemma=WordNetLemmatizer()

In [130]:
def split_to_lemmas(message):
    message=message.lower()
    words=word_tokenize(message)
    words_stop=[]
    for word in words:
        if word in stop:continue
        words_stop.append(word)
    return [lemma.lemmatize(x) for x in words_stop]

In [201]:
tfidf=TfidfVectorizer(analyzer=split_to_lemmas,min_df=20,max_df=3000)

In [202]:
tfidf.fit(px['Consumer complaint narrative'])

TfidfVectorizer(analyzer=<function split_to_lemmas at 0x000001930C98B9D8>,
        binary=False, decode_error='strict', dtype=<class 'numpy.int64'>,
        encoding='utf-8', input='content', lowercase=True, max_df=3000,
        max_features=None, min_df=20, ngram_range=(1, 1), norm='l2',
        preprocessor=None, smooth_idf=True, stop_words=None,
        strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [203]:
train_data=tfidf.transform(px['Consumer complaint narrative'])

In [174]:
stop=list(stopwords.words('english','xxxx'))

In [147]:
tx['Consumer complaint narrative'][3]

"My credit card statement from US Bank, XXXX. XXXX XXXX, XXXX XXXX, MO XXXX, showed a balance due of {$770.00}. I transposed, in error, the cents and remitted {$770.00}, a difference of XXXX cents. For this slight error they billed me for {$8.00} in interest. That 's XXXX times the shortfall and it seems ludicrous to me. I called their customer service phone number as I did n't realized that I had transposed the cents and they explained the {$8.00} interest charge was a result of of XXXX cent error, and made no effort to resolve what I thought was an extraordinary interest charge. \n"

In [149]:
import string

In [ ]:
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]
words = [word for word in stripped if word.isalpha()]

In [150]:
table = str.maketrans('', '', string.punctuation)

In [152]:
stripped = [w.translate(table) for w in tokens]

NameError: name 'tokens' is not defined

In [177]:
def split_to_lemmas(message):
    message=message.lower()
    words=word_tokenize(message)
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in words]
    words = [word for word in stripped if word.isalpha()]
    words_stop=[]
    for word in words:
        if word in stop:continue
        words_stop.append(word)
    return [lemma.lemmatize(x) for x in words_stop]

In [181]:
split_to_lemmas("nan")

['nan']

In [167]:
stop.update(('xxxx'))

In [175]:
stop.extend(['xxxx','stop1'])

In [176]:
stop

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'xxxx',
 'stop1']

In [198]:
px['Consumer complaint narrative'][0]

nan

In [204]:
train_data

<478421x6806 sparse matrix of type '<class 'numpy.float64'>'
	with 1841668 stored elements in Compressed Sparse Row format>

In [205]:
ex.to_csv('Consumer_Dispute_Data.csv')

In [206]:
l=pd.read_csv('Consumer_Dispute_Data.csv')

,Unnamed: 0,Consumer complaint narrative,Month,Year,target,Product_Mortgage,Product_Debt collection,Product_Credit reporting,Product_Credit card,Product_Bank account or service,...,Company response to consumer_Closed without relief,Timely,Company public response_b,Company public response_c,Company public response_d,Company public response_e,Company public response_f,Company public response_g,Company public response_h,Company public response_i
0,0,NaN,5,2014,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,1,NaN,9,2014,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2,2,NaN,3,2014,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,3,"My credit card statement from US Bank, XXXX. X...",7,2015,0,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,0
4,4,NaN,11,2014,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0